<div class="container mt-4">
<div class="row">
    <div class="col">
<button routerLink="/register"type="button" class="btn btn-danger">Sign-up</button>
<button routerLink="/"type="button" class="btn btn-info mr-1">Home</button>
<button routerLink="/travelers"type="button" class="btn btn-info">Travelers</button>
    </div>
    <div class="col">
        <h1 class="text-center" >Welcome to Loyalty Program Manager</h1>
    </div>
    <div class="col">
        
        <form class="form-inline">
            <input clas="form-control" type="text" name="login" id="login" placeholder="login"/>
            <input clas="form-control" type="password" name="password" id="password" placeholder="password"/>
            <button class="btn btn-info mb-1  btn-sm" type="submit">login</button>
            
        </form>
    </div>
</div>


</div>






